.jfx-buttonSave {

    -fx-background-color: transparent;

    -fx-text-fill: black;

    -fx-font-size: 13px;

    -fx-font-weight: bold;

}

.jfx-buttonSave:hover {
    -fx-background-color:  #03a9f4;
    -fx-cursor: hand;
}

.jfx-buttonDelete {

    -fx-background-color: transparent;

    -fx-text-fill: black;

    -fx-font-size: 13px;

    -fx-font-weight: bold;

}

.jfx-buttonDelete:hover {
    -fx-background-color:   #d50000;
    -fx-cursor: hand;
}

.jfx-buttonUpdate {

    -fx-background-color: transparent;

    -fx-text-fill: black;

    -fx-font-size: 13px;

    -fx-font-weight: bold;

}

.jfx-buttonUpdate:hover {
    -fx-background-color: #ffff00;
    -fx-cursor: hand;
}
.jfx-buttonClear {

        -fx-background-color: transparent;

        -fx-text-fill: black;

        -fx-font-size: 13px;

        -fx-font-weight: bold;

    }

    .jfx-buttonClear:hover {
        -fx-background-color: #b0bec5;
        -fx-cursor: hand;
    }

.jfx-buttonBack {

    -fx-background-color: transparent;

    -fx-text-fill: black;

    -fx-font-size: 16px;

    -fx-font-weight: bold;

}

.jfx-buttonBack:hover {
    -fx-background-color: #e74c3c;
    -fx-cursor: hand;
}

.jfx-buttonLogOut {

    -fx-background-color: transparent;

    -fx-text-fill: black;

    -fx-font-size: 16px;

    -fx-font-weight: bold;

}

.jfx-buttonLogOUt:hover {
    -fx-background-color: #8e44ad;
    -fx-cursor: hand;
}

.jfx-buttonBill {

    -fx-background-color: transparent;

    -fx-text-fill: black;

    -fx-font-size: 13px;

    -fx-font-weight: bold;

}

.jfx-buttonBill:hover {
    -fx-background-color: #ff5f89;
    -fx-cursor: hand;
}

.jfx-buttonAdd {

    -fx-background-color: #0167a3;

    -fx-text-fill: black;

    -fx-font-size: 13px;

    -fx-font-weight: bold;

}

.jfx-buttonAddPlace {

    -fx-background-color:  #83c5c1;

    -fx-text-fill: black;

    -fx-font-size: 13px;

    -fx-font-weight: bold;

}

.jfx-buttonPlace {

    -fx-background-color:   #b39ddb;

    -fx-text-fill: black;

    -fx-font-size: 13px;

    -fx-font-weight: bold;

}

.jfx-buttonBatch {

    -fx-background-color:    #e6867a;

    -fx-text-fill: black;

    -fx-font-size: 13px;

    -fx-font-weight: bold;

}

.jfx-buttonBatchCost {

    -fx-background-color: #86c28b;

    -fx-text-fill: black;

    -fx-font-size: 13px;

    -fx-font-weight: bold;

}

.text-field, .password-field {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
}