.chart-area {
    -fx-background-color: transparent;
}

.chart-line-symbol {
    -fx-background-color: #ff5722;
    -fx-background-radius: 5px;
}

.chart-legend {
    -fx-background-color: #ffffff;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}

.axis-label {
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}

.axis {
    -fx-stroke: #000000;
}

.axis-tick-mark {
    -fx-stroke: #000000;
}
